body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 150px;
}

.App-header {
  background-color: #7d1e6a;
  padding: 20px;
  color: white;
}

.App-header .title {
  margin-top: 40px;
}

.App-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.2s all;
}
.App-header a:hover {
  opacity: 0.7;
}

.githubIcon {
  height: 30px;
  margin-right: 5px;
}

.Countdown {
  padding-bottom: 20px;
}

.Countdown-col {
  display: inline-block;
}

.Countdown-col-element {
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong {
  font-size: 50px;
}

.player {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding-bottom: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .player {
    width: 100%;
    height: 100%;
  }
}

.copyrightLink,
.copyrightLink:hover,
.copyrightLink:visited,
.copyrightLink:active {
  color: inherit;
  text-decoration: none;
}

.textPrimary{
  margin: 0;
}

.textmarginBottom{
  margin-bottom: 0;
}
.textmarginTop{
  margin-top: 5px;
}

.newSubject{
  display: none;
}
.apologyToMorgan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 530px;
  max-height: 600px;
  font-size:x-large;
  
}

.responsive {
  width: 100%;
  height: auto;
}
.zetna{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 330px;
  max-height: 300px;
}

.zetnaRes {
  width: 100%;
  height: auto;
}
/* .container{
  margin-top: 20px;
  background-image: 
  linear-gradient(
    rgba(19, 19, 19, 0.5),
    rgba(27, 27, 27, 0.5)
  ),
  url(./images/CSE_Class_of_2022.jpg);
  color: white;
  background-position: center;
  background-size: cover;
} */
