body {
  margin: 0;
  padding: 0;
  
}

.App-logo {
  height: 150px;
}

.App-header {
  background-color: #7d1e6a;
  padding: 20px;
  color: white;
}

.App-header .title {
  margin-top: 40px;
}

.App-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.2s all;
}
.App-header a:hover {
  opacity: 0.7;
}

.githubIcon {
  height: 30px;
  margin-right: 5px;
}

.Countdown {
  padding-bottom: 20px;
}

.Countdown-col {
  display: inline-block;
}

.Countdown-col-element {
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong {
  font-size: 50px;
}

.player {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding-bottom: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .player {
    width: 100%;
    height: 100%;
  }
}

.copyrightLink,
.copyrightLink:hover,
.copyrightLink:visited,
.copyrightLink:active {
  color: inherit;
  text-decoration: none;
}

.textPrimary {
  margin: 0;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.textmarginBottom {
  margin-bottom: 0;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.textmarginTop {
  margin-top: 5px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.card-content{
  height: 909.09px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  text-align: center;
  color: white;
  background-image: linear-gradient(
      0deg,
      hsla(0, 0%, 35.29%, 0) 0%,
      hsla(0, 0%, 35.29%, 0) 0%,
      hsla(0, 0%, 34.53%, 0.034375) 16.36%,
      hsla(0, 0%, 32.42%, 0.125) 33.34%,
      hsla(0, 0%, 29.18%, 0.253125) 50.1%,
      hsla(0, 0%, 24.96%, 0.4) 65.75%,
      hsla(0, 0%, 19.85%, 0.546875) 79.43%,
      hsla(0, 0%, 13.95%, 0.675) 90.28%,
      hsla(0, 0%, 7.32%, 0.765625) 97.43%,
      hsla(0, 0%, 0%, 0.8) 100%
    ),
    url("./images/CSE2022.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.whatever-text {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}